@import "vars";

h1 {
	font-size: 30px;
	margin-left: 30px;
	margin-top: 15px;
}

h2 {
  width: 370.1px;
  height: 90px;
  font-family: Dosis;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.8px;
  text-align: left;
  color: $navy;
}

p {
  width: 370px;
  height: 75px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: 1px;
  text-align: left;
  color: #333333;
}

li.section {
	list-style-type: none;
	margin: 0 30px 0 0;
  width: 175px;
  height: 31px;
  font-family: Dosis;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: left;
  color: $navy;
}

li.navbar {
	font-family: Roboto;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: $navy;
}

li.footer {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.14;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;
}