.register-button {
	width: 157px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #ffb700;
  font-family: Dosis;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}